<md-toolbar color="primary">
  <span>Easy Apply</span>
</md-toolbar>
<div fxLayout="row"
     fxLayoutGap="1em"
     fxLayout.xs="column"
     fxLayoutAlign="center "
     fxLayoutAlign.xs="start start"
     class="search-container">
  <div fxFlex=""></div>
  <md-select placeholder="City"
             color="primary"
             [(ngModel)]="selectedCity"
             fxFlex=""
             required>
    <md-option *ngFor="let city of cities"
               [value]="city">{{city}}
    </md-option>
  </md-select>
  <md-form-field>
    <input mdInput
           fxFlex=""
           type="text"
           maxlength="50"
           pattern="[A-Za-z0-9_-\s*]{3,}"
           placeholder="Locality"
           [(ngModel)]="selectedLocality"
           [mdAutocomplete]="LocalityAuto"
           (input)="fetchLocalities()"
           (ngModelChange)="filterLocalities(selectedLocality)"
           required>
    <md-icon mdSuffix>search</md-icon>
  </md-form-field>
  <md-autocomplete #LocalityAuto="mdAutocomplete">
    <md-option *ngFor="let locality of filteredLocality"
               [value]="locality"
               (click)="onLocalitySelected(locality)">
      {{ locality }}
    </md-option>
  </md-autocomplete>
  <div fxFlex=""></div>
</div>
<md-grid-list cols="3" rowHeight="3:2"
              class="grid-container"
              gutterSize="15px">
  <md-grid-tile
    *ngFor="let school of schools">
    <md-grid-tile-header color="primary">{{school.name}}</md-grid-tile-header>
    <md-grid-tile-footer
      fxLayout="row"
      fxLayoutAlign="space-between center">
      <button fxFlex="10%" md-icon-button type="button">
        <md-icon>favorite_outline</md-icon>
      </button>
      <button fxFlex="20%" md-raised-button
              color="primary"
              type="button"
              (click)="applySchool(school.name)">
        Apply
      </button>
    </md-grid-tile-footer>
  </md-grid-tile>
</md-grid-list>
